@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  position: relative;
  line-height: 1.5;
  box-sizing: border-box;
  background-image: url("../images/back.jpg");
  background-position: center;
  background-size: cover;
  min-height: 120vh;
  background-repeat: no-repeat; }

.hidden {
  display: none !important; }

body {
  font-family: 'Atkinson Hyperlegible', sans-serif; }

.big-text {
  font-size: 5rem; }
  @media (max-width: 56.25em) {
    .big-text {
      font-size: 6rem; } }

.med-text {
  font-size: 2.5rem; }

.main-text {
  font-size: 2.2rem; }
  @media (max-width: 75em) {
    .main-text {
      font-size: 2.5rem; } }

.sub-text {
  font-size: 1.8rem; }
  @media (max-width: 75em) {
    .sub-text {
      font-size: 2rem; } }

#buttons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2rem auto; }
  @media (max-width: 56.25em) {
    #buttons {
      width: 36rem; } }

.main-button {
  background: #F9A01B;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  margin: 1rem 1.5rem;
  display: inline-block;
  width: fit-content;
  transition: all 100ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 5px;
  cursor: pointer; }
  .main-button:hover {
    background-color: #98002E;
    color: #F9A01B; }

.header {
  padding: 2rem 0;
  text-align: center;
  color: #f5f5f5;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 2px 3px; }

.quiz_container {
  position: relative;
  display: block;
  max-width: 120rem;
  margin: 2rem auto;
  height: fit-content; }

.question {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem 4rem 5rem;
  position: relative;
  min-height: 35rem;
  background-color: #98002E;
  color: #F9A01B;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 5px 5px;
  margin-bottom: 5rem; }
  @media (max-width: 75em) {
    .question {
      text-align: left; } }
  @media (max-width: 56.25em) {
    .question {
      border-radius: 0; } }
  .question_header {
    text-transform: uppercase;
    opacity: 0.75; }
  .question_question {
    margin: 1rem 0 2rem; }
    @media (max-width: 56.25em) {
      .question_question {
        margin: 1rem 0 2.5rem;
        font-size: 3rem; } }
  .question_label {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2.5rem;
    cursor: pointer;
    transition: all 100ms ease;
    width: 45%; }
    @media (max-width: 75em) {
      .question_label {
        max-width: 50%;
        margin-top: 1.5rem; } }
    .question_label:hover {
      background-color: #070707;
      box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 5px;
      color: #f5f5f5; }
  .question_input {
    display: none; }
    .question_input:checked + .question_label {
      background-color: #070707;
      box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 5px;
      color: #f5f5f5; }
  .question_img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
    transition: all 100ms ease;
    max-width: 95%;
    height: 40rem;
    margin: 1rem auto 3rem; }
  .question_hint {
    width: fit-content;
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 50ms ease;
    position: absolute;
    bottom: 1rem;
    right: 1.5rem; }
    .question_hint:hover {
      color: #f5f5f5; }

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.slide {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: none;
  transition: opacity 70ms ease-in; }

.active_slide {
  z-index: 50;
  display: block; }

#results {
  margin: 2rem auto;
  color: #f5f5f5;
  font-size: 3rem;
  display: block;
  text-align: center; }
