.quiz_container {
    position: relative;
    display: block;
    max-width: 120rem;
    margin: 2rem auto;
    height: fit-content;
}

.question {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    padding: 2rem 4rem 5rem;
    position: relative;
    min-height: 35rem;

    background-color: $primary-red;
    color: $primary-yellow;
    box-shadow: rgba(0,0,0, 0.2) -3px 1px 5px 5px;

    margin-bottom: 5rem;


    @include respond(tabletLandscape) {
        text-align: left;
    }

    @include respond(tablet) {
        border-radius: 0;
    }

    &_header {
        text-transform: uppercase;
        opacity: 0.75;
    }

    &_question {
        margin: 1rem 0 2rem;

        @include respond(tablet) {
            margin: 1rem 0 2.5rem;
            font-size: 3rem;
        }
    }

    &_label {
        padding: 1rem;
        border-radius: 5px;
        margin-top: 2.5rem;
        cursor: pointer;
        transition: all 100ms ease;
        width: 45%;

        @include respond(tabletLandscape) {
            max-width: 50%;
            margin-top: 1.5rem;
        }

        &:hover {
            background-color: $main-black;
            box-shadow: rgba(0,0,0, 0.2) 2px 3px 5px;
            color: $main-white;
        }
    }

    &_input {
        display: none;

        &:checked + .question_label {            
            background-color: $main-black;
            box-shadow: rgba(0,0,0, 0.2) 2px 3px 5px;
            color: $main-white;
        }
    }

    &_img {
        border-radius: 5px;
        box-shadow: rgba(0,0,0, 0.2) 1px 2px 5px;
        transition: all 100ms ease;

        max-width: 95%;
        height: 40rem;
        margin: 1rem auto 3rem;
    }
    &_hint {
        width: fit-content;
        padding: 0.5rem 1rem;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 50ms ease;

        position: absolute;
        bottom: 1rem;
        right: 1.5rem;

        &:hover {
            color: $main-white;
        }
    }
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide {
    position: absolute;
    width: 100%;

    z-index: 10;
    display: none;

    transition: opacity 70ms ease-in;
}

.active_slide {
    z-index: 50;
    display: block;
}

#results {
    margin: 2rem auto;
    color: $main-white;
    font-size: 3rem;
    display: block;
    text-align: center;
}