// Accessibility Font
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.big-text {
    font-size: 5rem;
}

.med-text {
    font-size: 2.5rem;
}

.main-text {
    font-size: 2rem;
}
    
.sub-text {
    font-size: 1.5rem;
}